<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{{ title }}}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>API Helper</h1>
    </header>
    <main>
    {{#each instructions}}
        <h2>{{this.name}}</h2>
        <table>
            {{#if this.documentation}}
                <tr>
                    <th>Documentation</th> 
                    <td>
                        <a href="{{this.documentation}}" target="_blank">{{this.documentation}}</a>
                    </td>
                </tr>
            {{/if}}
            {{#if this.source}}
                <tr>
                    <th>Endpoint</th> 
                    <td>
                        {{this.source}}
                    </td>
                </tr>
            {{/if}}
            {{#if this.proxy}}
                <tr>
                    <th>Proxy</th> 
                    <td>
                        {{this.proxy}}
                    </td>
                </tr>
            {{/if}}
            {{#if this.example}}
                <tr>
                    <th>Proxy Example</th> 
                    <td>
                        <a href="{{this.example}}">{{this.example}}</a>
                    </td>
                </tr>
            {{/if}}
        </table>
    {{/each}}
    </main>
</body>
</html>