<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>API Helper</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/color-brewer.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <header>
        <h1>API Helper</h1>
    </header>
    <main>
    {{#each instructions}}
        <h2>{{{this.icon}}} {{this.name}}</h2>
        <table>
            {{#if this.documentation}}
                <tr>
                    <th>Documentation</th> 
                    <td>
                        <a href="{{this.documentation}}" target="_blank">{{this.documentation}}</a>
                    </td>
                </tr>
            {{/if}}
            {{#if this.source}}
                <tr>
                    <th>Endpoint</th> 
                    <td>
                        {{this.source}}
                    </td>
                </tr>
            {{/if}}
            {{#if this.proxy}}
                <tr>
                    <th>Proxy</th> 
                    <td>
                        {{this.proxy}}
                    </td>
                </tr>
            {{/if}}
            {{#if this.example}}
                <tr>
                    <th>Proxy Example</th> 
                    <td>
                        <a href="{{this.example}}">{{this.example}}</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <pre><code class="html">&lt;-- How to query endpoint w/JavaScript fetch API --&gt;
&lt;script type="text/javascript"&gt;
    fetch('{{this.example}}')
        .then(response => response.json())
        .then(data => {
            console.log(data);
        });
&lt;/script&gt;
</code></pre>
                    </td>
                </tr>
            {{/if}}
        </table>
    {{/each}}
    </main>
    <script lang="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script lang="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/languages/javascript.min.js"></script>
    <script lang="text/javascript">
        for (elem of document.querySelectorAll('code')) {
            hljs.highlightBlock(elem);
        }
    </script>
</body>
</html>